@import '../../constants/variable.scss';

.button-main-container {
    .button-container {

        padding: 1rem 1.56rem;
        border-radius: 3rem;
        color: $light;

        .button {

            .icon {
                padding-left: 0.31rem;
                height: 1.25rem;
                width: 1.25rem;
            }

            .success{
                padding-left: 0.31rem;
                height: 1.5rem;
                width: 1.5rem;

            }
        }

        .bouncing-loader {
            display: flex;
            justify-content: center;
          }
          
          .bouncing-loader > div {
            width: 8px;
            height: 8px;
            margin: 3px 2px;
            border-radius: 50%;
            background-color: $lite;
            opacity: 1;
            animation: bouncing-loader 0.8s infinite alternate;
          }

          @keyframes bouncing-loader {
            to {
              opacity: 0.2;
              transform: translateY(-8px);
            }
          }
          
          .bouncing-loader > div:nth-child(2) {
            animation-delay: 0.2s;
          }
          
          .bouncing-loader > div:nth-child(3) {
            animation-delay: 0.4s;
          }

    }

    .primary-button-container {
        background-color: $grey;
        box-shadow: 0.625rem 0.562rem 1.375rem 0px rgba(24, 30, 41, 0.58);
        border: 1px solid $dark-border;
    }

    .secondary-button-container {
        background-color: $primary-blue;
        box-shadow: 0.625rem 0.562rem 1.375rem 0px rgba(20, 78, 227, 0.38);
        .icon{
          width: 1rem;
          height: 1rem;
        }
    }

    .success-button-container{
        background-color: $success;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        .button-container{
            padding:1rem !important;
        }
    }
}