@font-face{
    font-family: 'SF-Pro-Regular';
    src: url('../assets/fonts/SF-Pro-Display-Regular.eot');
    src: url('../assets/fonts/SF-Pro-Display-Regular.eot?#iefix'), format('embedded-opentype'),
    url('../assets/fonts/SF-Pro-Display-Regular.woff') format('woff'),
    url('../assets/fonts/SF-Pro-Display-Regular.otf') format('otf'),
    url('../assets/fonts/SF-Pro-Display-Regular.ttf') format('ttf');
}

@font-face{
    font-family: 'SF-Pro-Bold';
    src: url('../assets/fonts/SF-Pro-Display-Bold.eot');
    src: url('../assets/fonts/SF-Pro-Display-Bold.eot?#iefix'), format('embedded-opentype'),
    url('../assets/fonts/SF-Pro-Display-Bold.woff') format('woff'),
    url('../assets/fonts/SF-Pro-Display-Bold.otf') format('otf'),
    url('../assets/fonts/SF-Pro-Display-Bold.ttf') format('ttf');
}