
//colors start

$dark:"#0B101B";
$primary-pink: "#EB568E";
$primary-blue: "#144EE3";
$grey: "#181E29";
$lite: "#C9CED6";
//color end;


//font start
$sfpro-regular: "SF-Pro-Regular";
$sfpro-bold: "SF-Pro-Bold";