
//colors start

$dark:#0B101B;
$light: #FFF;
$primary-pink: #EB568E;
$primary-blue: #144EE3;
$grey: #181E29;
$lite: #C9CED6;
$dark-border: #353C4A;
$success: #4BB543;
//color end;


//font start
$sfpro-regular: "SF-Pro-Regular";
$sfpro-bold: "SF-Pro-Bold";