@import "../../constants/variable.scss";
@import "../../constants/global.scss";

.dashboard-main-container {

    .loading-animation{
     
        img {
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                position: absolute;
            }
    }

    input {
        &:checked {
            background-color: #22c55e !important;
            /* bg-green-500 */
            background-image: none !important;
        }

        &:focus {
            outline: none !important;
            --tw-ring-color: none !important;
        }
    }

    input:checked~span:last-child {
        --tw-translate-x: 1.75rem;
        /* translate-x-7 */
    }

    .header-container {
        .logo-container {
            .logo {
                $gradient-size: 100.24% 97.1%;
                $gradient-position: 5.56% 79.01%;
                $color-1: #eb568e;
                $color-2: #144ee3;
                font-weight: bold;
                color: transparent;
                background: radial-gradient($gradient-size at $gradient-position,
                        $color-1 0%,
                        $color-2 100%);
                background-clip: text;
                font-size: 3rem !important;
            }
        }

        .dropdown-btn {
            color: $lite;
            font-size: 1.3rem;
        }

        .dropdown-container {
            width: 8.33rem;
        }
    }

    .body-container {
        margin-top: 2rem;
        .input-main-container {
            padding-top: 3.5rem;
    
            .error-message{
                color: $danger; 
                padding-left: 1rem;
            }
    
            .input-inner-container {
                padding: 5px;
                border: 2px solid $success;
                background-color: $grey;
                border-radius: 3rem;
                margin-bottom: 1rem;
                box-shadow: 0.625rem 0.562rem 1.375rem 0px rgba(75, 181, 67, 0.38);
    
                .link-logo-container {
                    padding-left: .56rem;
    
                    .link-logo {
                        height: 1.6rem;
                        width: 1.6rem;
                    }
                }
    
                .input-box-container {
                    width: 35rem;
                    padding: 0px 1rem;
    
                    .input-box {
                        width: 100%;
                        background-color: transparent;
                        color: $lite;
    
                        &:focus {
                            outline: none !important;
                        }
                    }
                }
            }
        }

        .create-container {
            width: 30%;
            background-color: $grey;
            padding: 1rem;
            border-radius: 1rem;
            color: $lite;
            padding-right: 2rem;


            .input-container {
                label {
                    font-size: 1.2rem;
                    padding-bottom: 5px;
                }

                .input-box {
                    background-color: transparent;
                    border-radius: 5px;
                    padding: 10px;
                }

                .input-error{
                    border-color: $danger !important;
                }
                .error-text{
                    color:$danger;
                }

                .generate-text {
                    color: $lite;
                    font-size: 1.2rem !important;
                }
            }

            .input-container {
                padding-bottom: 1.66rem;
            }
        }

        .history-container {
            padding-top: 2rem;
            width: 80%;

            .history-heading-container {
                padding-bottom: 2rem;

                .wohoo-text {
                    color: $light;

                    .oo-container {

                        color: $primary-pink;
                    }
                }

                .sub-wohoo-text {
                    color: $light;
                }
            }

            .card-flex-container {
                .card {
                    // flex: 1;
                    width: 45%;
                    background-color: rgba(35, 42, 57, 0.5);
                    padding: 20px;
                    border-radius: 10px;
                    border: 2px solid $dark-border;
                    margin: 20px;

                    .card-header {
                        .activate-text {
                            color: $light;
                            font-size: 1.1rem;
                        }

                        .card-heading {
                            color: $light;
                            font-size: 1.5rem;
                            font-weight: '500';
                        }
                    }

                    .card-body {
                        margin: 1.4rem 0px;

                        .short-url {
                            color: #019cff;
                            font-weight: bold;
                            font-size: 2rem !important;

                            span {
                                margin-right: 5px;
                            }

                            .link-icon {
                                height: 20px;
                            }

                            .dot {
                                color: $light;
                                font-size: 1rem;
                                padding: 2px 8px;
                                margin-left: 5px;
                                border-radius: 10px;
                            }

                            .active-link {
                                background-color: $success;
                            }

                            .inactive-link {
                                background-color: #f05152;
                            }
                        }

                        .long-url {
                            margin-top: 5px;
                            font-size: 1.2rem !important;
                            color: $primary-pink !important;

                            span {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                width: 50%;
                                display: inline-block;
                            }
                        }
                      .tooltip-container{
                        width: 33rem;
                        .tooltip-text{
                            color: $light;
                            font-weight: 500;
                        }
                      }
                    }

                    .card-footer {
                        margin-top: 1rem;

                        .visit-count-container {
                            .visit-count {
                                color: $lite;
                                font-size: 1.2rem;
                                font-weight: bold;
                            }

                            .eye-icon {
                                width: 1.5rem;
                                height: 1.5rem;
                                margin-right: 5px;
                            }
                        }

                        .slash {
                            color: $lite;
                            font-size: 1rem;
                            padding-left: 1rem;
                        }

                        .created-at-container {
                            .created-at {
                                padding-left: 1rem;
                                color: $lite;
                                font-size: 1.2rem;
                                font-weight: bold;
                            }
                        }

                        .btn-copy {
                            background-color: $primary-blue;
                            padding: 10px;
                            font-size: 1rem;
                            color: $light;
                            border-radius: 10px;

                            .copy-icon {
                                height: 1rem;
                                width: 1rem;
                                margin-right: 4px;
                            }
                        }
                    }

                }
            }
        }

    }


    @media (min-width: 320px) and (max-width: 480px) {

        // Styles for mobile devices
        /* Adjust font sizes or other styles as needed */
        .body-container{

            
            .create-container{
                width: 90%;
            }
            .history-container{
                width: 100%;
                .card-flex-container{
                    .card{
                        width: 100%;
                        margin: 2rem 0px;

                        .card-footer{
                            .visit-count-container{
                                .visit-count{
                                    font-size: 1rem;
                                }
                            }
                            .slash{
                                padding-left: .5rem;
                            }

                            .created-at-container{
                                .created-at{
                                    padding-left: .5rem;
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
       

    }

    @media (min-width: 481px) and (max-width: 768px) {

        // Styles for iPads, tablets
        /* Adjust font sizes or other styles as needed */
        .body-container{
            .create-container{
                width: 50%;
            }
            .history-container{
                .card-flex-container{
                    .card{
                        width: 100%;
                        margin: 2rem 0px;
                    }
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {

        // Styles for small screens, laptops
        /* Adjust font sizes or other styles as needed */
        .body-container{
            .create-container{
                width: 40%;
            }
            .history-container{
                .card-flex-container{
                    .card{
                        width: 100%;
                        margin: 2rem 0px;
                    }
                }
            }
        }
      
    }

    @media screen and (max-width:350px) {
        .body-container .history-container .card-flex-container .card .card-footer{
            flex-direction: column;
        }
    }

}