@import "../../constants/variable.scss";

.dashboard-main-container{
    .header-container{
        .logo-container{
            .logo{
                $gradient-size: 100.24% 97.1%;
                $gradient-position: 5.56% 79.01%;
                $color-1: #eb568e;
                $color-2: #144ee3;
                font-weight: bold;
                color: transparent;
                background: radial-gradient($gradient-size at $gradient-position,
                        $color-1 0%,
                        $color-2 100%);
                background-clip: text;
                font-size: 3rem !important;
            }
        }
    }
}