@import './constants/global.scss';

.main-container {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 2.5rem 3dvb 0;

    .main-backdrop-img {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

}